html{color:#000;overflow: hidden;}
body{font:normal 12px/1.5 arial,"Microsoft Yahei",sans-serif;color: #3f3f3f; background-color: #f3f3f3;overflow: hidden;margin:0;}
/* 页面右上角提示信息框 */
.msg{
  position: absolute;
  right: 30px;
  top: 40px;
  width: 200px;
  z-index: 600;
}
.msg-item{
  width: 180px;
  margin: 0 auto;
  padding: 10px 15px;
  background: rgba(250, 238, 3, 1);
  border-radius: 6px;
  box-shadow: 0px 0px 10px 4px #7C7B0A;
  margin-top: 8px;
}
/* 提示框 */
.alert{
  position: absolute;
  top: 20%;
  left: 40%;
  border: 1px solid transparent;
  width: 300px;
  background: rgba(87, 164, 242, 1);
  color: #FFFFFF;
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 5px;
  z-index: 700;
}
button.close{
  color: inherit;
  top: -3px;
  right: 2px;
  font-size: 23px;
  font-weight: 700;
  line-height: 1;
  background: 0 0;
  border: 0;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=40);
  opacity: .4;
  margin-left: 5px;
  position: absolute;
}
.close:hover,.close:focus{
  color: #ffed05;
  text-decoration: none;
  opacity: 5;
}
/* 禁用控件 */
.ban, .baned, [ban] {pointer-events: none; cursor: default; background: #e6e6e6 !important; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; filter: none; border: none; text-shadow: none; color: #999; }
/* 遮罩层 */
.mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 499;
  opacity: 0.7;
}
.menu {
  overflow: auto;
  width: 200px;
  position: fixed;
  top: 40px;
  bottom: 0px;
  background: #333;
  left: 0px;
  padding: 0 0 24px 0;
}
.docs {
  position: fixed;
  font-size: 13px;
  top: 45px;
  overflow: scroll;
  outline: none;
  height: auto;
  width: auto;
  right: 0;
  bottom: 0;
  left: 210px;
}

.editor {
  display: none;
  height: auto;;
  top: 50%;;
  position: fixed !important;
  bottom: 0;
  right: 0;
  margin: 0;
  border: 0;
  width: auto;
  left: 200px;
}
#header {position:fixed;border-bottom:1px solid #2b2b2b;width:100%;height:40px;background:#171814;left:0;top:0;line-height:40px;z-index:2;}
.ace_editor.fullScreen {
  top: 40px;
}

.fullScreen {
  overflow: hidden
}


/* pop panel */
.pop-panel {
   width: 126px;
   border: 1px solid #D3D3D3;
   padding: 5px 8px 4px;
   position: absolute;
   z-index: 1600;
   background: #F0F0F0;
   left: 50px;
   top: 160px;
   border-radius: 4px;
   display: none;
  }
.pop-panel-header {
  text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    font: normal 100 16px/18px serif, "Microsoft Yahei";
    padding-bottom: 3px;
    color: #989898;
    letter-spacing: 5px;
    text-shadow: 1px 3px 2px #ccc;
}
.pop-panel input {
    width: 107px;
    height: 28px;
    line-height: 28px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.pop-panel input:focus {
    border: 1px solid #9e9e9e;
}
.pop-panel-footer {
  text-align: center;
  margin: 5px 0 1px 0;
}
.pop-panel-footer button {
  margin: 0px 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #676767;
    color: #b9b9b9;
}
.jstree .jstree-icon.jstree-pwdfile {
  background: url(/static/modules/jstree/themes/default-dark/32px.png) -100px -68px no-repeat,
  url(/static/images/pwd.png) -6px -6px no-repeat;
}
.jstree .jstree-icon.jstree-pwdfolder {
  background: url(/static/modules/jstree/themes/default-dark/32px.png) -260px -4px no-repeat,
  url(/static/images/pwd.png) -8px -6px no-repeat;
}
.jstree .jstree-icon.jstree-unpubfile {
  background: url(/static/modules/jstree/themes/default-dark/32px.png) -100px -68px no-repeat,
  url(/static/images/publish.svg) right top no-repeat;
}
.jstree .jstree-icon.jstree-unpubfolder {
  background: url(/static/modules/jstree/themes/default-dark/32px.png) -260px -4px no-repeat,
  url(/static/images/publish.svg) right top no-repeat;
}
.jstree .jstree-icon.jstree-unpub-pwdfile {
  background: url(/static/modules/jstree/themes/default-dark/32px.png) -100px -68px no-repeat,
  url(/static/images/pwd.png) -7px -6px no-repeat,
  url(/static/images/publish.svg) right top no-repeat;
}
.jstree .jstree-icon.jstree-unpub-pwdfolder {
  background: url(/static/modules/jstree/themes/default-dark/32px.png) -260px -4px no-repeat,
  url(/static/images/pwd.png) -7px -6px no-repeat,
  url(/static/images/publish.svg) right top no-repeat;
}


/* docutils css */
.borderless, table.borderless td, table.borderless th {
  border: 0 }

table.borderless td, table.borderless th {
  /* Override padding for "table.docutils td" with "! important".
     The right padding separates the table cells. */
  padding: 0 0.5em 0 0 ! important }

.first {
  /* Override more specific margin styles with "! important". */
  margin-top: 0 ! important }

.last, .with-subtitle {
  margin-bottom: 0 ! important }

.hidden {
  display: none }

.subscript {
  vertical-align: sub;
  font-size: smaller }

.superscript {
  vertical-align: super;
  font-size: smaller }

a.toc-backref {
  text-decoration: none ;
  color: black }

blockquote.epigraph {
  margin: 2em 5em ; }

dl.docutils dd {
  margin-bottom: 0.5em }

object[type="image/svg+xml"], object[type="application/x-shockwave-flash"] {
  overflow: hidden;
}

div.abstract {
  margin: 2em 5em }

div.abstract p.topic-title {
  font-weight: bold ;
  text-align: center }

div.admonition, div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.note, div.tip, div.warning {
  margin: 2em ;
  border: medium outset ;
  padding: 1em }

div.admonition p.admonition-title, div.hint p.admonition-title,
div.important p.admonition-title, div.note p.admonition-title,
div.tip p.admonition-title {
  font-weight: bold ;
  font-family: sans-serif }

div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title, .code .error {
  color: red ;
  font-weight: bold ;
  font-family: sans-serif }

/* Uncomment (and remove this text!) to get reduced vertical space in
   compound paragraphs.
div.compound .compound-first, div.compound .compound-middle {
  margin-bottom: 0.5em }

div.compound .compound-last, div.compound .compound-middle {
  margin-top: 0.5em }
*/

div.dedication {
  margin: 2em 5em ;
  text-align: center ;
  font-style: italic }

div.dedication p.topic-title {
  font-weight: bold ;
  font-style: normal }

div.figure {
  margin-left: 2em ;
  margin-right: 2em }

div.footer, div.header {
  clear: both;
  font-size: smaller }

div.line-block {
  display: block ;
  margin-top: 1em ;
  margin-bottom: 1em }

div.line-block div.line-block {
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-left: 1.5em }

div.sidebar {
  margin: 0 0 0.5em 1em ;
  border: medium outset ;
  padding: 1em ;
  background-color: #ffffee ;
  width: 40% ;
  float: right ;
  clear: right }

div.sidebar p.rubric {
  font-family: sans-serif ;
  font-size: medium }

div.system-messages {
  margin: 5em }

div.system-messages h1 {
  color: red }

div.system-message {
  border: medium outset ;
  padding: 1em }

div.system-message p.system-message-title {
  color: red ;
  font-weight: bold }

div.topic {
  margin: 2em }

h1.section-subtitle, h2.section-subtitle, h3.section-subtitle,
h4.section-subtitle, h5.section-subtitle, h6.section-subtitle {
  margin-top: 0.4em }

h1.title {
  text-align: center }

h2.subtitle {
  text-align: center }

hr.docutils {
  width: 75% }

img.align-left, .figure.align-left, object.align-left, table.align-left {
  clear: left ;
  float: left ;
  margin-right: 1em }

img.align-right, .figure.align-right, object.align-right, table.align-right {
  clear: right ;
  float: right ;
  margin-left: 1em }

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table.align-center {
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: left }

.align-center {
  clear: both ;
  text-align: center }

.align-right {
  text-align: right }

/* reset inner alignment in figures */
div.align-right {
  text-align: inherit }

/* div.align-center * { */
/*   text-align: left } */

.align-top    {
  vertical-align: top }

.align-middle {
  vertical-align: middle }

.align-bottom {
  vertical-align: bottom }

ol.simple, ul.simple {
  margin-bottom: 1em }

ol.arabic {
  list-style: decimal }

ol.loweralpha {
  list-style: lower-alpha }

ol.upperalpha {
  list-style: upper-alpha }

ol.lowerroman {
  list-style: lower-roman }

ol.upperroman {
  list-style: upper-roman }

p.attribution {
  text-align: right ;
  margin-left: 50% }

p.caption {
  font-style: italic }

p.credits {
  font-style: italic ;
  font-size: smaller }

p.label {
  white-space: nowrap }

p.rubric {
  font-weight: bold ;
  font-size: larger ;
  color: maroon ;
  text-align: center }

p.sidebar-title {
  font-family: sans-serif ;
  font-weight: bold ;
  font-size: larger }

p.sidebar-subtitle {
  font-family: sans-serif ;
  font-weight: bold }

p.topic-title {
  font-weight: bold }

pre.address {
  margin-bottom: 0 ;
  margin-top: 0 ;
  font: inherit }

pre.literal-block, pre.doctest-block, pre.math, pre.code {
  margin-left: 2em ;
  margin-right: 2em }

pre.code .ln { color: grey; } /* line numbers */
pre.code, code { background-color: #eeeeee }
pre.code .comment, code .comment { color: #5C6576 }
pre.code .keyword, code .keyword { color: #3B0D06; font-weight: bold }
pre.code .literal.string, code .literal.string { color: #0C5404 }
pre.code .name.builtin, code .name.builtin { color: #352B84 }
pre.code .deleted, code .deleted { background-color: #DEB0A1}
pre.code .inserted, code .inserted { background-color: #A3D289}

span.classifier {
  font-family: sans-serif ;
  font-style: oblique }

span.classifier-delimiter {
  font-family: sans-serif ;
  font-weight: bold }

span.interpreted {
  font-family: sans-serif }

span.option {
  white-space: nowrap }

span.pre {
  white-space: pre }

span.problematic {
  color: red }

span.section-subtitle {
  /* font-size relative to parent (h1..h6 element) */
  font-size: 80% }

table.citation {
  border-left: solid 1px gray;
  margin-left: 1px }

table.docinfo {
  margin: 2em 4em }

table.docutils {
  margin-top: 0.5em ;
  margin-bottom: 0.5em }

table.footnote {
  border-left: solid 1px black;
  margin-left: 1px }

table.docutils td, table.docutils th,
table.docinfo td, table.docinfo th {
  padding-left: 0.5em ;
  padding-right: 0.5em ;
  vertical-align: top }

table.docutils th.field-name, table.docinfo th.docinfo-name {
  font-weight: bold ;
  text-align: left ;
  white-space: nowrap ;
  padding-left: 0 }

/* "booktabs" style (no vertical lines) */
table.docutils.booktabs {
  border: 0px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-collapse: collapse;
}
table.docutils.booktabs * {
  border: 0px;
}
table.docutils.booktabs th {
  border-bottom: thin solid;
  text-align: left;
}

h1 tt.docutils, h2 tt.docutils, h3 tt.docutils,
h4 tt.docutils, h5 tt.docutils, h6 tt.docutils {
  font-size: 100% }

ul.auto-toc {
  list-style-type: none
}


/* tabs */
ul.nav-tabs {
  line-height: 31px;
  padding: 0;
  max-height: 31px;
  overflow: hidden;
  list-style-type: none;
  display: flex;
  margin-top: 8px;
  margin-left: 192px;
  position: absolute;
  left: 0;
  top: 0;
}
ul.nav-tabs > li{
  -moz-border-radius-topleft: 28px 145px;
  -webkit-border-top-left-radius: 28px 145px;
  border-top-left-radius: 28px 145px;
  -moz-border-radius-topright: 28px 145px;
  -webkit-border-top-right-radius: 28px 145px;
  border-top-right-radius: 28px 145px;
  padding: 0 30px 0 25px;
  height: 170px;
  position: relative;
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  width: 200px;
  max-width: 200px;
  min-width: 20px;
  text-decoration: none;
  padding: 0px 7px;
  display: block;
  margin: 5px -14px 0;
  background: #171814;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}


ul.nav-tabs > li:first-child, ul.nav-tabs > li[style*="display: none"] + li {margin-left:-5px;}
ul.nav-tabs > li:last-of-type {
  margin-right: 0;
}

ul.nav-tabs > li > span {
  height: 28px;
  line-height: 28px;
  display: inline-block;
  padding: 0 40px 0 30px;
  width: 100%;
}
/*ul.nav-tabs > li:focus, ul.nav-tabs > li:hover {
  background-color: transparent;
  border-color: transparent;
}*/

ul.nav-tabs > li {
  z-index: 2;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 30, color-stop(0%, #ffffff), color-stop(100%, #f7f7f7));
  background-image: -moz-linear-gradient(#ffffff, #f7f7f7 30px);
  background-image: -webkit-linear-gradient(#ffffff, #f7f7f7 30px);
  background-image: linear-gradient(#23241F, #1F201B 30px);
  color: #ccc;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: transparent;
  cursor: pointer;
}
ul.nav-tabs > li.active {
  border: 1px solid #484848;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 30, color-stop(0%, #ffffff), color-stop(100%, #f7f7f7));
  background-image: -moz-linear-gradient(#ffffff, #f7f7f7 30px);
  background-image: -webkit-linear-gradient(#ffffff, #f7f7f7 30px);
  background-image: linear-gradient(#313131, #131313 30px);
  z-index: 5;
}
.close {
  display: inline-block;
  width: 10px;
  height: 10px;
  overflow: hidden;
  position: absolute;
  right: 25px;
  top: 8px;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close::before, .close::after {
  content: '';
  height: 2px;
  background: #666;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0px;
  margin-top: -1px;
}
.close:hover::before, .close:hover::after{
  background: #aaa;
}
.tab-pane {
  padding: 60px 40px;
  text-align: center;
}
.tab-pane.active {
  border-top: 1px solid #ddd;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.search {
  width: 100%;
  position: relative;
  display: none;
}
.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}
.searchTerm:focus{
  color: #00B4CC;
}

.rst-content table.docutils.infobox caption {
  padding: 0 20px;
  background-color: #ececec;
  line-height: 33px;
  box-shadow: inset 0 1px 0 0 #f3f3f3;
  -moz-box-shadow: inset 0 1px 0 0 #f3f3f3;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f3f3f3;
  text-align: left;
  border: 1px solid #e1e4e5;
  border-radius: 3px 3px 0 0;
  font: bold 16px/33px arial,"Microsoft Yahei",sans-serif;
}

.rst-content .document>.section {
  margin-right: 10px;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}
.rst-content .document>.section>h1 {
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px solid #dadada;
}
.rst-content .document>.section>h1:hover {
  color: #000;
}
.rst-content .document>.section>h1:hover a {
  color: #000;
}
.rst-content .document>.section.section-collapsed>h1 {
  border-bottom-color: #ccc;
}
.section-collapsed .section{
  /* disable the child sections anchor, if use content tables */
  display: none;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;

}
.rst-content .document>.section>h1:hover:before,
.rst-content .document>.section>h1:hover:after {
  content: '';
  position: relative;
  display: inline-block;
  height: 6px;
  width: 6px;
  border-style: solid;
  border-width: 3px 3px 0 0;
  -webkit-transition: border-color .5s ease;
  -moz-transition: border-color .5s ease;
  transition: border-color .5s ease;
  -webkit-transform:rotate(315deg); /* Safari 和 Chrome */
  -moz-transform:rotate(315deg);  /* Firefox */
  transform: rotate(315deg);
  float: right;
}
.rst-content .document>.section>h1:hover:before {
  border-color: rgb(107, 105, 105);
  top: 12px;
  left: 0px;
}
.rst-content .document>.section>h1:hover:after {
  border-color: rgba(97, 93, 93, 0.3);
  top: 20px;
  left: 9px;
}
.rst-content .document>.section.section-collapsed>h1:hover:before {
  border-color: rgba(97, 93, 93, 0.3);
  top: 7px;
  left: 0px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  transform: rotate(135deg);
}
.rst-content .document>.section.section-collapsed>h1:hover:after {
  border-color: rgb(107, 105, 105);
  top: 15px;
  left: 9px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  transform: rotate(135deg);
}
