{% load markup static %}
<link rel="stylesheet" type="text/css" href="/static/css/themes/theme.css">
<link rel="stylesheet" href="/static/css/base.css" />

<header>
	<div id="header">
		<div style="float:left;margin-left:10px;">好好学习：个人知识管理精进指南</div>
		<div style="float:right;margin-right:10px;">
			{% if user.is_authenticated %}
				Welcome,
				<strong>{% firstof user.get_short_name user.get_username %}</strong>.
				<a href="/admin/logout/?next=/" tabindex="-1">Log out</a>
			{% else %}
				<a href="/admin/login/?next=/" tabindex="-1">Log in</a>
			{% endif %}
		</div>
	</div>
</header>

<div class="menu"><div id="menu"></div></div>

<main role="main">
	<ul class="nav-tabs">
		<li class="active"><span>main</span><i class="close"></i></li>
		<li><span>aaaaaaa</span><i class="close"></i></li>
	</ul>
	<div id="main">
		<section class="rst-content" id="doc_tab_1">
			<div class="docs" id="docs" tabindex="1">
				<div class="document">
				<p></p>
				<p>时间是稀缺的资源，是昂贵的成本，用有限的时间去学习无限的知识，我们将会被知识淹没。
				</p>
				<p>
				不常用的知识，随着时间的推移，将会慢慢退化消失。
				</p><p>
				为了更好的管理学过的知识，使之学过的知识能够永久保存下来，
				供以后复习参考，并节省大量的时间。
				</p><p>
				于是一个针对个人知识体系的管理系统，就显得尤其重要。
				</p><p>
				本系统使用流行的标记语言reStructuredText和markdown来编写文章， 文档可被多个目录引用。</p>
				主内容区域快捷键：
				<ul>
					<li>h 向左滚动</li>
					<li>j 向上滚动</li>
					<li>k 向下滚动</li>
					<li>l 向右滚动</li>
					<li>[] 向上/下翻页</li>
					<li>g 滚动到页面开始</li>
					<li>G 滚动到页尾</li>
				</ul>
				目录树快捷键：
				<ul>
					<li>l 打开目录或打开文档</li>
					<li>h 收起目录</li>
					<li>j 向下移动焦点</li>
					<li>k 向上移动焦点</li>
					<li>g 焦点移动到根节点</li>
					<li>G 焦点移动到最后一个节点</li>
					<li>ctrl-+/- 缩放字体</li>
				</ul>
				编辑器快捷键：
				<ul>
					<li>几乎所有vi快捷键</li>
					<li>ctrl-j/k 向下/上缩小窗口</li>
					<li>ctrl-+/- 缩放字体</li>
					<li>ctrl-shift-j/k 在编辑器内滚动内容区域</li>
				</ul>
				其它快捷键：
				<ul>
					<li>alt-shift-n/m 调整目录树和内容区域大小</li>
				</ul>
				</div>
			</div>
			<div class="editor" id="editor"></div>
		</section>
		<section id="doc_tab_2">

		</section>
	</div>
</main>


<div class="pop-panel">
    <p class="pop-panel-header">请输入密码</p>
	<label>
		<input name="password" type="password" />
	</label>
    <div class="pop-panel-footer">
        <button id="pwd_confirm">确定</button>
        <button id="pwd_cancle">取消</button>
    </div>
</div>

<script src="{% static "modules/jquery-1.11.2.min.js" %}"></script>
<script src="{% static "modules/jstree/jstree.min.js" %}"></script>
<script src="{% static "modules/ace/ace.js" %}"></script>
<script src="{% static "mediablock.js" %}"></script>
<script src="{% static "common.js" %}"></script>
<script src="{% static "main.js" %}"></script>
